<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../../static/css/style.css">
</head>
<body>

<header>
    <h1>Online Library</h1>
</header>

<nav>
    <nav>
        <a th:href="@{/}">Home</a>
        <a href="/cart">My Library</a>
    </nav>
</nav>

<section>
    <h2>Add Book</h2>
    <form th:action="@{/book}" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input class="input-book" type="text" id="name" name="name" placeholder="Your name">
        <br>
        <label for="author">Author:</label>
        <input class="input-book" type="text" id="author" name="author" placeholder="Author name">
        <br>
        <label for="file">Book:</label>
        <input class="input-book" type="file" id="file" name="file" placeholder="Enter your file" aria-label="file example" required>
        <br>

        <button class="input-book" type="submit">Add Book</button>
    </form>
</section>
</body>
</html>