<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}" href="../../static/css/style.css">
</head>
<body>
<header>
    <h1>Online Library</h1>
</header>

<div >
    <form th:action="@{/book/{id}(id=${id})}" th:method="put">

        <input type="text" name="name" th:value="${book.name}">
        <input type="text" name="author" th:value="${book.author}">

        <button  type="submit">Update</button>
    </form>

</div>
</body>
</html>